.desktop {
    color: red;

}
.desktop, .print {
    display: none;

}
.mobile{
    color: blue;
}
.print{
    color: green;
}
@media print {
    .desktop, .print {
        display: none;
    
    }
    .print {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}